$bg-color: #080808;
$bg-dark-color: #000;

$body-bg: $bg-color;
$navbar-default-bg: $bg-color;
$text-color: #bc8761;
$link-color: #bc8761;
$component-active-color: $bg-color;
$component-active-bg: $bg-color;

$nav-link-hover-bg: $bg-dark-color;

$navbar-default-toggle-hover-bg: #111;
$navbar-default-toggle-border-color: transparent;
$navbar-default-toggle-icon-bar-bg: #aaa;

@font-face {
    font-family: RomanSD;
    font-style:  normal;
    font-weight: 400;
    src: url('/fonts/RomanSD.ttf') format('truetype');
}

$font-family-sans-serif: "RomanSD";


@import "bootstrap";

html, body { height: 100%; }

body > div.container-fluid {
    height: 100%;
}

h1.text-blur {
    color: transparent;
    text-shadow: 0 0 3px #bc8761;
}

h4.text-blur {
    color: transparent;
    text-shadow: 0 0 2.5px #bc8761;
}
